.wrap {
  border: 1px tomato solid;
  margin-top: 10px;
  padding: 15px;
  display: flex;
}

.listAdditionalInfo {
  list-style: none;
  display: flex;
}

.listLink {
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.activeListLink {
  text-decoration: none;
  color: tomato;
  background-color: yellow;
  padding: 10px;
  border-radius: 10px;
}
